.App{
    align-items: center;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #00000078;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    margin: 0 60px;
    width: 100px;
}
h1{
    color: #61DAFB;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.bloc{
    display: flex;
    justify-content: space-around;
}
.bloc h3{
    color: #61dafb00;
    font-family: 'orbitron';
    font-size: 25px;
    font-weight: 300;
    margin:  auto;
    padding: 2px;
    width: 20%;
} .bloc h3:hover{
    color: #61dafb84;
    cursor: pointer;
}
.videoPlayer{
    background-color: #000000;
    border: 7px solid #000000;
    border-radius: 15px;
    margin-top: 70px;
    padding: 2px;
}
.input{
    background-color: #110151;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    height: 30px;
    margin-top: 70px;
    padding: 0;
    width: 640px;
}